
###> symfony/framework-bundle ###
/.env.local
/.env.*
!.env.*.example
/var/
/vendor/
/vendor.*/
/.idea/*
!/.idea/codeStyles/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

symfony.lock
###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

MadelineProto.log
